#carouselContainer {
  width: 100;
  height: 65vh;
  min-height: 450px;
  max-height: 450px;
  position: relative;
  .wrapper {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: relative;
    touch-action: pan-y;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 600px;
    transform: translateZ(0);
    .background {
      width: 100%;
      height: 600px;
      display: block;
      background-position: center top;
      background-size: auto;
      position: relative;
      top: 50px;
      bottom: 0;
      left: 0;
      right: 0;
      background-repeat: no-repeat;
    }
    .iconArrowPrev {
      left: 20px;
    }
    .iconArrowNext {
      right: 20px;
    }
    .iconContainer {
      background-color: rgba(0, 0, 0, 0.4);
      border: solid 1px rgba(255, 255, 255, 0.15);
      color: #00aeff;
      font-size: 25.63px;
      height: 70px;
      width: 40px;
      position: absolute;
      top: 50%;
      transition: opacity .2s,color .2s;
      z-index: 1;
      cursor: pointer;
      .iconArrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: inline-block;
        vertical-align: middle;
        width: 1.5em;
        height: 1.5em;
        margin: 0;
        padding: 0;
        border: 0;
      }
    }
  }
}






