#carouselContainer {
  width: 100vw;
  height: 65vh;
  min-height: 450px;
  max-height: 450px;
  position: relative;
  .wrapper {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: relative;
    touch-action: pan-y;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 600px;
    transform: translateZ(0);
  }
}






